Eduard/UF1NF1A6_Activitats_DTD/e3.dtd

<!ELEMENT comunitat (vei+)>
<!ELEMENT vei (codi, nom, cognom, portal, pislletra, comptecorrent, carrec)>
<!ELEMENT codi (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT cognom (#PCDATA)>
<!ELEMENT portal (#PCDATA)>
<!ELEMENT pislletra (#PCDATA)>
<!ELEMENT comptecorrent (#PCDATA)>
<!ELEMENT carrec (#PCDATA)>
